.home {
    text-align: center;
    /* background: url('') no-repeat center center fixed; */
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    animation: move 100s ease-in-out infinite alternate;
}


@keyframes move {
    0% {background: url('../../home2.jpg') no-repeat center center fixed;}
    19% {background: url('../../home2.jpg') no-repeat center center fixed;}
    20% {background: url('../../new-home-2419999_1920.jpg') no-repeat center center fixed;}
    39% {background: url('../../new-home-2419999_1920.jpg') no-repeat center center fixed;}
    40% {background: url('../../newhome3.jpg') no-repeat center center fixed;}
    79% {background: url('../../newhome3.jpg') no-repeat center center fixed;}
    80% {background: url('../../home2.jpg') no-repeat center center fixed;}
    100% {background: url('../../home2.jpg') no-repeat center center fixed;}
    /* 100% {background: url('../../new-home-2419999_1920.jpg') no-repeat center center fixed;} */
}