.contactinfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: #E0D9D9;
    opacity: .9;
    margin-left: 20px;
}

.contactinfo input {
    width: 200px;
    margin-bottom: 20px;
}

#message {
    width: 300px;
    height: 200px;
    align-content: flex-start;
    overflow-wrap: break-word;
}

.submitbutton {
    margin-bottom: 10px;
    width: 80px;
    font-weight: bold;
    border-radius: 5px;
    background-image: radial-gradient(circle at 50% -46%, lightblue, #A8D7E6);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.submitbutton:hover {
    margin-bottom: 10px;
    width: 80px;
    font-weight: bold;
    border-radius: 5px;
    background-image: radial-gradient(circle at 50% -46%, lightblue, #A8D7E6);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}