.footercontainer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #2D2B2B;
    width: 100%;
    height: 10%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
}

.login {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 20px;
    padding-right: 20px;
}

.loginlink {
    text-decoration: none;
    color: #2D2B2B;
    height: 20px;
    width: 60px;
    padding: 5px 5px 5px 5px;
}

.loginlink:hover {
    background: #4F9BCC;
    opacity: .9;
    transform: scale(1.1);
    color: white;
}

@media(min-width: 500px) {
    .footercontainer {
        font-size: 16px;
    }
}